html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f0f0f0, #f0f0f0); /* ou tua cor sólida */
  z-index: 0; 
  position: relative;
}


header {
  display: flex;
  justify-content: space-between; /* logo à esquerda, menu à direita */
  align-items: center; /* centraliza verticalmente dentro do header */
  background-color: hsl(238, 82%, 15%);
  padding: 10px 20px;
  height: 70px; /* define altura fixa pro header */
}
.submenu a:hover { background: #f0f0f0; }
/* PARA A IMAGEM  */
img{
    max-width: 90px;
    height: auto;
    
}
/* PARA O MENU LATERAL  */
.menuLateral{
  background-color:  hsl(238, 82%, 15%);
}

.hover-bg-light:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

a.text-light {
  color: #d1cece;
}

a.text-light:hover {
  color: #fff;
}
/* PARA O MENU SUSPENSO DROPDOWN */
.menuHeader {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 5px; /* ajusta pra descer ou subir um pouco */
}
/* PARA A MSG DE BOAS VINDAS  */
.MensagemEntrada {
  position: absolute; /* faz ele sair do fluxo normal */
  top: 150px; /* exatamente abaixo do header que tem 70px de altura */
  left: 270px; /* deixa ele ao lado do menu lateral */
  padding: 0 20px;
  font-size: large  ;
}
/* PRIMEIRO CARD  */
.cardContainer1 {
  position: absolute;
  top: 290px; /* abaixo da MensagemEntrada */
  left: 300px; /* ao lado do menu lateral */
}

.card1 {
  width: 300px;
  padding: 20px;
  font-size: large;
  background-color: hsl(240, 6%, 88%);
  color: hsl(238, 82%, 15%);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Card 2 */
.cardContainer2 {
  position: absolute;
  top: 290px; /* mesma altura inicial */
  left: 620px; /* desloca para a direita */
}

.card2 {
  width: 300px;
  padding: 20px;
  font-size: large;
  background-color: hsl(240, 6%, 88%);
  color: #59570c;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Card 3 */
.cardContainer3 {
  position: absolute;
  top: 290px;
  left: 940px; /* mais à direita */
}

.card3 {
  width: 300px;
  padding: 20px;
  font-size: large;
  background-color: hsl(240, 6%, 88%);
  color: #771313;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Estilo compartilhado para os títulos */
.card-title {
    display: flex;
    align-items: center;
    gap: 10px; /* espaço entre o ícone e o texto */
    font-size: 1.4rem;
    font-weight: 500;
}

/* Número do Card */
.card-text {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px 0;
}

/* Pequena descrição */
.card p {
    font-size: 1rem;
    margin: 0;
}


